/* Reset default styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

html {
  scroll-behavior: smooth;
}

body {
  background: none;
  color: inherit;
}

@media (max-width: 768px) {
  .section {
    scroll-margin-top: 180px; /* Adjust for mobile navbar height */
  }
}

.masonry-grid {
  display: flex;
  margin-left: -16px; /* Adjust to match grid spacing */
  width: auto;
}

.masonry-column {
  padding-left: 16px; /* Adjust to match grid spacing */
  background-clip: padding-box;
}

.masonry-grid > .masonry-column > div {
  margin-bottom: 16px; /* Adjust spacing between items */
}

footer {
  margin-top: 0;
  padding-top: 16px;
  width: 100%; /* Ensures it spans the full width */
}